
FindRachel.xcodeproj/project.xcworkspace/xcuserdata/Gallego.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xccheckout

*.xcuserstate

*.xccheckout

*.xcuserstate

*.pbxproj

Locker.swift

FindRachel.xcworkspace/xcuserdata/Gallego.xcuserdatad/WorkspaceSettings.xcsettings
